{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">                
            <img src="https://suap.ifrn.edu.br{{ user_data['url_foto_150x200'] }}" alt="foto" class="img-fluid rounded-circle mb-3" style="max-width: 200px; max-height: 200px;">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td><b>Tipo de Vínculo</b></td>
                            <td>{{ user_data['tipo_vinculo'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Nome Usual</b></td>
                            <td>{{ user_data['nome_usual'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Matrícula</b></td>
                            <td>{{ user_data['matricula'] }}</td>
                        </tr>
                        <tr>
                            <td><b>Email</b></td>
                            <td>{{ user_data['email'] }}</td>
                        </tr>
                    </tbody>
                </table>
                <div class="col-md-6">
                <div class="row">
                    <div class="col">
                        <!-- Formulário para ano e período -->
                        <form method="post" action="{{ url_for('user') }}">
                            <div class="form-row">
                                <div class="col">
                                    <label for="ano">Ano:</label>
                                    <input type="text" name="ano" class="form-control" required>
                                </div>
                                <div class="col">
                                    <label for="periodo">Período:</label>
                                    <input type="text" name="periodo" class="form-control" required>
                                </div>
                                <div class="col">
                                    <button type="submit" class="btn btn-success mt-2">Visualizar Boletim</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            
                <!-- Exibição do Boletim -->
                {% if boletim %}
                    <h2>Boletim - Ano: {{ ano }} - Período: {{ bimestre }}</h2>
                    <table id="boletimTable" class="table table-bordered mt-3">
                        <thead>
                            <tr>
                                <th>Disciplina</th>
                                <th>Nota Etapa 1</th>
                                <th>Nota Etapa 2</th>
                                <th>Nota Etapa 3</th>
                                <th>Nota Etapa 4</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for disciplina in boletim %}
                                <tr>
                                    <td>{{ disciplina.disciplina }}</td>
                                    <td>{{ disciplina.nota_etapa_1.nota }}</td>
                                    <td>{{ disciplina.nota_etapa_2.nota }}</td>
                                    <td>{{ disciplina.nota_etapa_3.nota }}</td>
                                    <td>{{ disciplina.nota_etapa_4.nota }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <!-- Botão para restaurar (esconder) o boletim -->
                    <button class="btn btn-warning mt-3" onclick="hideBoletim()">Restaurar</button>

                    <script>
                        function hideBoletim() {
                            // Oculta a tabela do boletim
                            document.getElementById('boletimTable').style.display = 'none';
                        }
                    </script>
                {% endif %}
            </div>
        </div>

        <p><a href="{{ url_for('logout') }}" class="btn btn-danger mt-3">Logout</a></p>
    </div>
{% endblock %}